// self assessor intro section 
.trusted-by {
   margin-top: -138px;
}

.dr-details {
   background-image: url('./../../assets/images/cross-primary-img.svg');
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: 74%;


   .dr-female-img {
      margin-top: -150px;

      @media only screen and (max-width: $sm-brekpoint) {
         margin-top: -100px;
      }
   }

   .has-number-img {
      top: -24px;
      right: -24px;

      @media only screen and (max-width: $sm-brekpoint) {
         top: -16px;
         right: -16px;
      }
   }
}


// why self assessmen section 
.about-self-assessmen-section {

   .about-self-content {
      &::after {
         position: absolute;
         content: "";
         width: 5px;
         height: 100%;
         background-color: $primary;
         left: 0;
         top: 0;
         border-radius: $border-radius-8;
      }
   }

   .video-title-line {
      &::after {
         position: absolute;
         content: "";
         width: 63px;
         height: 2px;
         background-color: $secondary;
         left: 0;
         bottom: -4px;
      }
   }

}