<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title> Login Page </title>

  <link rel="icon" href='{% static "images/favicon.ico" %}'>

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href='{% static "css/gemsnext-compress.min.css" %}'>
  <link rel="stylesheet" type="text/css" href='{% static "css/style.min.css" %}'>
</head>

<body>


<section class="">
    <div class="row align-items-center">
      <div class="col-md-6 bg-primary-linear-gradient position-relative login-left-side">
        <div class="h-100 pt-80 d-flex flex-column align-items-center px-80">
          <a href="#" class="cursor-pointer">
            <img class="mb-20 d-flex align-items-center justify-content-center img-fluid" src='{% static "images/gemsnext-logo.svg" %}' alt="logo-Image">
          </a>
           </div>
      </div>

</body>
</html>